<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock title %} - slipbox</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/typography.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet" />

    <link href="./style.css" rel="stylesheet" />
  </head>
  <body>
    <header class="navigation">
      <a class="navlink" href="/">
        <i class="padding-x" data-feather="archive"></i>
        slipbox
      </a>
      <a class="navlink" href="/search.html">
        <i class="padding-x" data-feather="search"></i>
        search
      </a>
      <a class="navlink" href="/random.html">
        <i class="padding-x" data-feather="shuffle"></i>
        random
      </a>
    </header>

    <main class="container">{% block content %}404!{% endblock content %}</main>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();
    </script>
    {% block scripts %}{% endblock scripts %}
  </body>
</html>
