<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock title %}</title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/typography.css" rel="stylesheet" />
    <link href="https://unpkg.com/sanitize.css/forms.css" rel="stylesheet" />

    <link href="./style.css" rel="stylesheet" />
  </head>
  <body>
    <header class="navigation">
      <a class="navlink" href="/"> <i class="padding-x" data-feather="archive"></i>slipbox</a>
      <a class="navlink" href="/search.html">
        <i class="padding-x" data-feather="search"></i>
        search</a
      >
      <a class="navlink" href="/random.html">
        <i class="padding-x" data-feather="shuffle"></i>
        random</a
      >
    </header>
    <main class="container">{% block content %}{% endblock content %}</main>

    <script src="https://unpkg.com/feather-icons"></script>
    <script>
      feather.replace();

      // document.getElementById("random-button").addEventListener("click", () => {
      //   fetch("/notes.json")
      //     .then((res) => res.json())
      //     .then((json) => {
      //       const notes = Object.keys(json);
      //       const noteId = notes[Math.floor(Math.random() * notes.length)];

      //       console.log(noteId);
      //     });
      // });
    </script>
  </body>
</html>
